USE [master]
GO
/****** Object:  Database [GestionHotelera]    Script Date: 29/12/2025 12:55:05 ******/
CREATE DATABASE [GestionHotelera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionHotelera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionHotelera.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionHotelera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionHotelera_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionHotelera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionHotelera]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[identificacion] [varchar](12) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[primerApellido] [varchar](20) NOT NULL,
	[segundoApellido] [varchar](20) NULL,
	[fechaNacimiento] [date] NOT NULL,
	[paisID] [int] NOT NULL,
	[distritoID] [int] NULL,
	[correo] [varchar](30) NOT NULL,
	[telefono1] [varchar](16) NOT NULL,
	[telefono2] [varchar](16) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[distritoID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[provinciaID] [int] NOT NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[distritoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[cedulaJuridica] [varchar](12) NOT NULL,
	[nombre] [varchar](25) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](16) NOT NULL,
	[nombreContacto] [varchar](25) NOT NULL,
	[ubicacionID] [int] NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpresaActividad]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaActividad](
	[cedulaJuridica] [varchar](12) NOT NULL,
	[tipoActividadID] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_EmpresaActividad] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC,
	[tipoActividadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpresaServicio]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaServicio](
	[cedulaJuridica] [varchar](12) NOT NULL,
	[servicioID] [tinyint] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_EmpresaServicio] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC,
	[servicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[numFactura] [int] IDENTITY(1,1) NOT NULL,
	[numReservacion] [int] NOT NULL,
	[cargoHabitacion] [decimal](10, 2) NOT NULL,
	[noches] [int] NOT NULL,
	[tipoPagoID] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[importeTotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[numFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FotoHabitacion]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FotoHabitacion](
	[fotoHabitacionID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[tipoHabitacionID] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[habitacionID] [int] IDENTITY(1,1) NOT NULL,
	[tipoHabitacionID] [tinyint] NOT NULL,
	[estado] [bit] NOT NULL,
	[numero] [int] NOT NULL,
	[cedulaJuridica] [varchar](12) NOT NULL,
 CONSTRAINT [PK_Habitacion] PRIMARY KEY CLUSTERED 
(
	[habitacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospedaje]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospedaje](
	[cedulaJuridica] [varchar](12) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[tipoHabitacionID] [tinyint] NOT NULL,
	[correo] [varchar](30) NOT NULL,
	[webURL] [varchar](150) NULL,
	[ubicacionID] [int] NOT NULL,
 CONSTRAINT [PK_Hospedaje] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospedajeRedSocial]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospedajeRedSocial](
	[hospedajeRedSocialID] [int] IDENTITY(1,1) NOT NULL,
	[cedulaJuridica] [varchar](12) NOT NULL,
	[redSocialID] [tinyint] NOT NULL,
	[url] [varchar](150) NOT NULL,
 CONSTRAINT [PK_HospedajeRedSocial] PRIMARY KEY CLUSTERED 
(
	[hospedajeRedSocialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospedajeServicio]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospedajeServicio](
	[cedulaJuridica] [varchar](12) NOT NULL,
	[servicioID] [tinyint] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_HospedajeServicio_1] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC,
	[servicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[paisID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[codigoTelefonico] [int] NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[paisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[provinciaID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[paisID] [int] NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[provinciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RedSocial]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedSocial](
	[redSocialID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_RedSocial] PRIMARY KEY CLUSTERED 
(
	[redSocialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservacion]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservacion](
	[identificacion] [varchar](12) NOT NULL,
	[numReservacion] [int] IDENTITY(1,1) NOT NULL,
	[habitacionID] [int] NOT NULL,
	[fechaIngreso] [datetime] NOT NULL,
	[cantPersonas] [int] NOT NULL,
	[vehiculo] [bit] NOT NULL,
	[fechaSalida] [datetime] NOT NULL,
 CONSTRAINT [PK_Reservacion] PRIMARY KEY CLUSTERED 
(
	[numReservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[servicioID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](12) NOT NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[servicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoActividad]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoActividad](
	[nombre] [varchar](50) NOT NULL,
	[tipoActividadID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TipoActividad] PRIMARY KEY CLUSTERED 
(
	[tipoActividadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCama]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCama](
	[tipoCamaID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TipoCama] PRIMARY KEY CLUSTERED 
(
	[tipoCamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHabitacion]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitacion](
	[tipoHabitacionID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[descripcion] [text] NULL,
	[tipoCamaID] [tinyint] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_TipoHabitacion] PRIMARY KEY CLUSTERED 
(
	[tipoHabitacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHospedaje]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHospedaje](
	[tipoHospedajeID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TipoHospedaje] PRIMARY KEY CLUSTERED 
(
	[tipoHospedajeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPago](
	[tipoPagoID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TipoPago] PRIMARY KEY CLUSTERED 
(
	[tipoPagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 29/12/2025 12:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[ubicacionID] [int] IDENTITY(1,1) NOT NULL,
	[distritoID] [int] NOT NULL,
	[referencias] [text] NOT NULL,
	[latitud] [decimal](9, 6) NOT NULL,
	[longitud] [decimal](9, 6) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ubicacion] PRIMARY KEY CLUSTERED 
(
	[ubicacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Distrito] FOREIGN KEY([distritoID])
REFERENCES [dbo].[Distrito] ([distritoID])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Distrito]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Pais] FOREIGN KEY([paisID])
REFERENCES [dbo].[Pais] ([paisID])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Pais]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Provincia] FOREIGN KEY([provinciaID])
REFERENCES [dbo].[Provincia] ([provinciaID])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Provincia]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Ubicacion] FOREIGN KEY([ubicacionID])
REFERENCES [dbo].[Ubicacion] ([ubicacionID])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Ubicacion]
GO
ALTER TABLE [dbo].[EmpresaActividad]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaActividad_Empresa] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Empresa] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[EmpresaActividad] CHECK CONSTRAINT [FK_EmpresaActividad_Empresa]
GO
ALTER TABLE [dbo].[EmpresaActividad]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaActividad_TipoActividad] FOREIGN KEY([tipoActividadID])
REFERENCES [dbo].[TipoActividad] ([tipoActividadID])
GO
ALTER TABLE [dbo].[EmpresaActividad] CHECK CONSTRAINT [FK_EmpresaActividad_TipoActividad]
GO
ALTER TABLE [dbo].[EmpresaServicio]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaServicio_Empresa] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Empresa] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[EmpresaServicio] CHECK CONSTRAINT [FK_EmpresaServicio_Empresa]
GO
ALTER TABLE [dbo].[EmpresaServicio]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaServicio_Servicio] FOREIGN KEY([servicioID])
REFERENCES [dbo].[Servicio] ([servicioID])
GO
ALTER TABLE [dbo].[EmpresaServicio] CHECK CONSTRAINT [FK_EmpresaServicio_Servicio]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Reservacion] FOREIGN KEY([numReservacion])
REFERENCES [dbo].[Reservacion] ([numReservacion])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Reservacion]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_TipoPago] FOREIGN KEY([tipoPagoID])
REFERENCES [dbo].[TipoPago] ([tipoPagoID])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_TipoPago]
GO
ALTER TABLE [dbo].[FotoHabitacion]  WITH CHECK ADD  CONSTRAINT [FK_FotoHabitacion_TipoHabitacion] FOREIGN KEY([tipoHabitacionID])
REFERENCES [dbo].[TipoHabitacion] ([tipoHabitacionID])
GO
ALTER TABLE [dbo].[FotoHabitacion] CHECK CONSTRAINT [FK_FotoHabitacion_TipoHabitacion]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Habitacion_Hospedaje] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Hospedaje] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK_Habitacion_Hospedaje]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Habitacion_TipoHabitacion] FOREIGN KEY([tipoHabitacionID])
REFERENCES [dbo].[TipoHabitacion] ([tipoHabitacionID])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK_Habitacion_TipoHabitacion]
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [FK_Hospedaje_TipoHospedaje] FOREIGN KEY([tipoHabitacionID])
REFERENCES [dbo].[TipoHospedaje] ([tipoHospedajeID])
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [FK_Hospedaje_TipoHospedaje]
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [FK_Hospedaje_Ubicacion] FOREIGN KEY([ubicacionID])
REFERENCES [dbo].[Ubicacion] ([ubicacionID])
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [FK_Hospedaje_Ubicacion]
GO
ALTER TABLE [dbo].[HospedajeRedSocial]  WITH CHECK ADD  CONSTRAINT [FK_HospedajeRedSocial_Hospedaje] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Hospedaje] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[HospedajeRedSocial] CHECK CONSTRAINT [FK_HospedajeRedSocial_Hospedaje]
GO
ALTER TABLE [dbo].[HospedajeRedSocial]  WITH CHECK ADD  CONSTRAINT [FK_HospedajeRedSocial_RedSocial] FOREIGN KEY([redSocialID])
REFERENCES [dbo].[RedSocial] ([redSocialID])
GO
ALTER TABLE [dbo].[HospedajeRedSocial] CHECK CONSTRAINT [FK_HospedajeRedSocial_RedSocial]
GO
ALTER TABLE [dbo].[HospedajeServicio]  WITH CHECK ADD  CONSTRAINT [FK_HospedajeServicio_Hospedaje] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Hospedaje] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[HospedajeServicio] CHECK CONSTRAINT [FK_HospedajeServicio_Hospedaje]
GO
ALTER TABLE [dbo].[HospedajeServicio]  WITH CHECK ADD  CONSTRAINT [FK_HospedajeServicio_Servicio] FOREIGN KEY([servicioID])
REFERENCES [dbo].[Servicio] ([servicioID])
GO
ALTER TABLE [dbo].[HospedajeServicio] CHECK CONSTRAINT [FK_HospedajeServicio_Servicio]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Pais] FOREIGN KEY([paisID])
REFERENCES [dbo].[Pais] ([paisID])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Pais]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Cliente] FOREIGN KEY([identificacion])
REFERENCES [dbo].[Cliente] ([identificacion])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Cliente]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Habitacion] FOREIGN KEY([habitacionID])
REFERENCES [dbo].[Habitacion] ([habitacionID])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Habitacion]
GO
ALTER TABLE [dbo].[TipoHabitacion]  WITH CHECK ADD  CONSTRAINT [FK_TipoHabitacion_TipoCama] FOREIGN KEY([tipoCamaID])
REFERENCES [dbo].[TipoCama] ([tipoCamaID])
GO
ALTER TABLE [dbo].[TipoHabitacion] CHECK CONSTRAINT [FK_TipoHabitacion_TipoCama]
GO
ALTER TABLE [dbo].[Ubicacion]  WITH CHECK ADD  CONSTRAINT [FK_Ubicacion_Distrito] FOREIGN KEY([distritoID])
REFERENCES [dbo].[Distrito] ([distritoID])
GO
ALTER TABLE [dbo].[Ubicacion] CHECK CONSTRAINT [FK_Ubicacion_Distrito]
GO
USE [master]
GO
